@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 210px;
    transition: 0.5s ease;
}

header .nawigacja {
    position: relative;
}

header .nawigacja .znaki_nawigacji a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    padding-right: 20px;
    transition: 0.3s ease;
    text-shadow: 1px 1px 8px black;
}

header .nawigacja .znaki_nawigacji a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: color 0.3s ease;
}

header .nawigacja .znaki_nawigacji a:hover:before {
    width: 100%;
    background: #f4d35a;
}

section {
    padding: 100px 200px;
}

#nowy {
    display: flex;
}

#nowy a{
    background: none;
    padding : 0px 0px;
    color: none;
    font-size: 0;
    font-weight: 0;
    text-decoration: none;
    border-radius: 0;
}

.glowna {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(242, 214, 101, 0.959);
}

.glowna:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(251, 3, 3, 0.034);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.glowna .zawartosc.active {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: block;
}

.glowna .zawartosc {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.p1 {
    margin-right: 30%;
}

.glowna .zawartosc h1 {
    font-size: 3.5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
}

.glowna .zawartosc p {
    margin-bottom: 40px;
}

.glowna .zawartosc a {
    background: #fff;
    padding: 4px 35px;
    color: #f3ce67;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.pobierz {
    margin-top: 2.5%;
}

.glowna .zawartosc a:hover {
    background: #f3ce67;
    color: #fff;
}

.cien {
    text-shadow:.5px .5px 8px black;
    margin : 0 4px 0 4px;
}

.glowna img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria img {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    margin-left: 95%;
    padding: 4px;
    border-radius: 15px;
}

.blur {
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

#cta {
    margin: auto;
    width: 44vw;
    height: 57vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('obrazy/tlo4.jpg');
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.new {
    transform: translateY(10vw);
    text-align: center;
}

.trailer {
    display: block;
    padding: 2vw;
    text-align: center;
    transform: translate(0, 14vw);
}

.slider {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    margin-bottom: 12px;
}

.slider .naw-przycisk {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    transition: 0.3s ease;
}

.slider .naw-przycisk.active {
    background: #ffdf8d;
}

.slider .naw-przycisk:not(:last-child) {
    margin-right: 20px;
}

.slider .naw-przycisk:hover {
    transform: scale(1.2);
}

.img-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1480px) {
    .galeria img {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .galeria img {
        width: 100%;
    }
}

@media only screen and (max-width: 560px) {
    #nowy {
        display: block;
    }

    .galeria img {
        margin-left: 0;
    }
}
